.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.fa-times {
    cursor: pointer;
    color: $danger;
}

.margin-bottom {
	margin-bottom: 15px;
}

.hover:hover {
	background: $base2;
	color: white;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	label {
		margin-bottom: 0;
		font-weight: normal;
	}
	input {
		margin-right: 5px;
	}
}

.fa {
	font-size: 19px;
}