.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.fa-times {
    cursor: pointer;
    color: $danger;
}

.margin-bottom {
	margin-bottom: 15px;
}

@media (min-width: 800px) {
	.hover:hover {
		background: $base2;
		color: white;
	}
}

.card-header, .card button {
	@include baseFont;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	label {
		margin-bottom: 0;
		font-weight: normal;
	}
	input {
		margin-right: 5px;
	}
}

.fa {
	font-size: 19px;
}

.add {
	padding: 2px 2px;
	button {
		display: flex;
		//align-items: center;
		justify-content: space-between;
		height: 30px;
		.fa-plus {
			margin-right: 5px;
			font-size: 10px;
			margin-top: 4px;
		}
		span {
			padding-top: 1px;
		}
	}
}

td.add {
	button {
		width: 100%;
	}
}