
.numeric-input-cell {
    .item-input-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        input {
            text-align: right;
        }
    }
}
//th.numeric-input-cell {
//    div {
//        text-align: center;
//    }
//}

span.preloader {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 9999999;
}

//.pointer {
//	cursor: pointer;
//}
//
//.bold {
//	font-weight: bold;
//}
//
//.center {
//	text-align: center;
//}
//
//.top-bar {
//	//border-bottom: 1px solid $base1;
//	padding: 8px 0;
//	position: relative;
//	//@include gradient;
//	.close {
//		position: absolute;
//		top: 10px;
//		right: 15px;
//	}
//	.edit {
//		position: absolute;
//		top: 10px;
//		left: 15px;
//		font-size: 20px;
//	}
//	input {
//		text-align: center;
//	}
//}
//
//.list-group {
//	margin-top: 15px;
//	.list-group-item {
//		background: $base1;
//		color: white;
//		&:nth-child(2n) {
//			background: $base2;
//		}
//	}
//}
//
//.fa-check {
//	color: $base1;
//	font-size: 15px;
//}
//
//.list-group-div {
//	margin-top: 15px;
//	.list-group-item-div-container {
//		margin: 15px 0;
//		.list-group-item-div {
//			background: $base1;
//			color: white;
//			padding: 10px 15px;
//			border: 1px solid $lightGrey;
//		}
//		&:nth-child(2n) {
//			.list-group-item-div {
//				background: $base2;
//			}
//		}
//	}
//}
//
//.new-btn {
//	width: 100%;
//}
//
//.fa-times {
//    cursor: pointer;
//    color: $danger;
//}
//
//.margin-bottom {
//	margin-bottom: 15px;
//}
//
//@media (min-width: 800px) {
//	.hover:hover {
//		background: $base2;
//		color: white;
//	}
//}
//
//.checkbox-container {
//	display: flex;
//	align-items: center;
//	margin-bottom: 4px;
//	label {
//		margin-bottom: 0;
//		font-weight: normal;
//	}
//	input {
//		margin-right: 5px;
//	}
//}
//
//.fa {
//	font-size: 19px;
//}
//
//.add {
//	padding: 2px 2px;
//	button {
//		display: flex;
//		//align-items: center;
//		justify-content: space-between;
//		height: 30px;
//		.fa-plus {
//			margin-right: 5px;
//			font-size: 10px;
//			margin-top: 4px;
//		}
//		span {
//			padding-top: 1px;
//		}
//	}
//}
//
//td.add {
//	button {
//		width: 100%;
//	}
//}