.popup-inner-transition {
    animation-duration: 1s;
}
.popup-outer-transition {
    animation-duration: 1s;
}
.fade-transition {
    animation-duration: .5s;
}

.slide-up-down-transition {
    animation-duration: .5s;
}

@keyframes slideOutRight {
    to {
        //Overriding this because for some reason, 100% isn't right off the edge of the page
        transform: translate3d(108%,0,0);
        animation-timing-function: ease;
    }
}