#exercises-page {
	td {
		text-align: left;
	}
	@media (max-width: 320px) {
	    .big-screens {
			display: none;
		}
	}
	table {
		width: auto;
		margin: auto;
	}

	#exercises {
		.exercise {
			margin-bottom: 8px;
			.card-header.no-color {
				color: white;
			}
			.exercise-name {
				//font-size: 18px;
				//color: white;
			}
		}
	}
}