#exercises-page {
	td {
		text-align: left;
		&.add {
			padding: 2px 2px;
			button {
				width: 100%;
				display: flex;
				//align-items: center;
				justify-content: space-between;
				height: 30px;
				.fa-plus {
					margin-right: 5px;
					font-size: 10px;
					margin-top: 4px;
				}
				span {
					padding-top: 1px;
				}
			}
		}
	}
	@media (max-width: 320px) {
	    .big-screens {
			display: none;
		}
	}
}