//to get a button like Bootstrap's button
.my-btn {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
    &:active {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
        border: 1px solid black;
    }
    &:focus {
        outline: thin dotted;
        outline-offset: -2px;
    }
    &:hover, &:focus, &:active {
        background-color: #e6e6e6;
        border-color: #adadad;
        color: #333;
    }
}

.btn.has-color {
    color: white;
}

.my-btn-group {
    display: flex;
    display: -webkit-flex;
    button {
        display: block;
        width: 100%;
    }
}

.btn-success {
    	background: $success;
    	border-color: lighten($success, 5%);
    &:hover {
        background: lighten($success, 5%);
        border-color: $success;
    }
}

.btn-danger {
    background: $danger;
    border-color: lighten($danger, 5%);
    &:hover {
        background: lighten($danger, 5%);
        border-color: $danger;
    }
}