$success: #5cb85c;
//$danger: #d9534f;
$danger: #F77238;
$warning: #fca700;
$info: #5bc0de;
$primary: #337ab7;

$infoLight: #d9edf7;
$infoDark: #31708f;

$warningLight: #fcf8e3;
$warningDark: #8a6d3b;

$base1: #56ab2f;
$base2: #a8e063;

$successLight: #E8F761;
$successDark: #EDE25D;
$success: $base2;

$lightGrey: #d3e0e9;

//Framework7 Colors
$green: #4cd964;
